doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='bitcoin.css')
        script(src='https://socketio.mtgox.com/socket.io/socket.io.js')
        script(src='bitcoin.js')
        script(src='test.js')
    body
        #widget
